body{
  background-color:  #9266ff;
}
.App{
      /* width: 400px;
      min-height: 500px;
      background-color: #f4f4f4;
      box-shadow: 5px 5px 25px -5px rgba(0 , 0, 0, 0.5);
      border-radius: 15px;*/
  background-color:  white;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 5px 5px 30px -5px rgba(0 , 0, 0, 0.5);
  border-radius: 20px;
}
#ravi{
  color: white;
   text-align: center;
  background: transparent;
  background-color: #66aa8a;
  padding: 10px 10 20px 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0 , 0, 0, 0.3);
}
#to-do-form input{
  text-align: center;
  height: 30px;
  top: 10px;
  font: 1em sans-serif;
  color: rgb(2, 1, 1);
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 2px solid #668baa;
  outline: none;
  padding: 0%;
  
  
}
#to-do-form input::placeholder{
  color: black;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
   
  height: 50px;
  width: 80px;
  border-radius: 50%;
  font-size: 30px;
  border: 0;
  outline: none;
  background-color:rgb(24, 137, 202); 
  cursor: pointer;
  box-shadow: 5px  5px 15px -5px rgba(0 , 0, 0, 0.3);
}
button:hover {
  background-color: #20bf6b;
}
#to-do-form button:focus{
  outline: none;
}
/*

*/